html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --color-link: #afb1b8;
  --background-main: #ffffff;
  --background-secondary: #f4f4fd;
  --backgraund-section: #e5e5e5;
  --backgraund-modal: rgba(46, 47, 66, 0.4);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-main);
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.team-icon-link,
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* hero */
.section-hero {
  padding: 188px 0;
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/herofon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-weight: 700;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn {
  display: block;
  font-family: var(--primary-font);
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: 1px solid transparent;
  text-align: center;
  border: none;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* modal */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--backgraund-modal);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
  fill: var(--white);
}

.check-div {
  display: flex;
}

.modalcheck:visually-hidden {
  width: 16px;
  height: 16px;
  border: none;
  border: 1px solid var(--navy-blue);
  border-radius: 2px;
  outline: none;
}
.btn-mod {
  display: block;
  font-family: var(--primary-font);
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: 1px solid transparent;
  text-align: center;
  border: none;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-mod:hover,
.btn-mod:focus {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  fill: var(--white);
}

.modal-icon {
  color: var(--navy-blue);
}

.form-checkbox-icon {
  position: absolute;
  fill: var(--white);
  cursor: pointer;
}

.check-span {
  font-size: 12px;
  line-height: 1.17;
  color: var(--light-slate);
  letter-spacing: 0.04em;
  margin-left: 8px;
}
.checkbox-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.label-text {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.modal-comment {
  margin-bottom: 24px;
}

.name-modal:focus + .name-icon-mod,
.tel-modal:focus + .tel-icon-mod,
.email-modal:focus + .email-icon-mod {
  fill: var(--iris);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
  text-align: center;
}

.user-name,
.user-tel,
.user-email {
  position: relative;
  margin-bottom: 8px;
}

.check-policy {
  font-size: 12px;
  line-height: 1.33;
  text-decoration-line: underline;
  color: var(--iris);
}
.name-icon-mod,
.tel-icon-mod,
.email-icon-mod {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modalcheck:checked + .checkbox-icon {
  background-color: var(--ocean);
  border: 1px solid var(--ocean);
  fill: var(--cloud);
}

.name-modal,
.tel-modal,
.email-modal {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: 1px solid transparent;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-modal:focus,
.tel-modal:focus,
.email-modal:focus,
.modal-textarea:focus {
  outline: 1px solid var(--iris);
  border: 1px solid transparent;
}

.modal-textarea {
  width: 360px;
  height: 120px;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: 1px solid transparent;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}
.backdrop.is-hidden .modal {
  transform: translate(250ms cubic-bezier(0.4, 0, 0.2, 1));
}

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.logo-dark {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.header-list {
  display: flex;
  gap: 40px;
}
.head-address {
  display: flex;
  gap: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0 24px;
  display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}
.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}

.header-link.current,
.header-link.current-port {
  color: var(--ocean);
}

.header-link.current::after,
.header-link.current-port::after {
  background-color: var(--ocean);
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding: 24px 0 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* section */
.section-company {
  padding: 120px 0;
}
.company {
  display: flex;
  gap: 24px;
}

.company-icon {
  background-color: var(--cloud);
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.company-item {
  width: 264px;
  width: calc((100% - 72px) / 4);
}

.company-title,
.team-underitle,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.company-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.section-work {
  padding-bottom: 120px;
}
.work-title,
.team-title,
.customers-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);

  margin-bottom: 72px;
}
.work {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.work-item {
  width: calc((100% - 48px) / 3);
}

.section-team {
  background-color: var(--background-secondary);
  padding: 120px 0;
}
.team {
  display: flex;
  gap: 24px;
}

.work-team {
  background-color: var(--background-main);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.title-name {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-underitle {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}
.team-icon {
  fill: var(--cloud);
}
.team-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  text-align: center;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--ocean);
}
.team-icon-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-company {
  fill: currentColor;
}

.customer-icon-link {
  width: 168px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  color: var(--color-link);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon-link:hover,
.customer-icon-link:focus {
  border: 1px solid var(--ocean);
  color: var(--ocean);
  cursor: pointer;
}

.customers {
  padding: 120px 0;
}
.customers-list {
  display: flex;
  gap: 24px;
  border: rgba(0, 0, 0, 0.25);
}
/* portfolio */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  margin-right: 24px;
}

.portfolio-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item-cards {
  width: calc((100% - 48px) / 3);
}

.portfolio-name {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.portfolio-text-hov {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;

  width: 100%;
  height: 100%;
  padding: 30px;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-cards:hover .overlay {
  transform: translateY(0);
}
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

/* footer */
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-bottom: 16px;
  display: inline-block;
}
.logo-light {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  display: inline-block;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}
.footer-title,
.subscrib-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
.social {
  max-width: 208px;
  height: 80px;
  margin-right: 80px;
}
.social-icon {
  fill: #f4f4fd;
}

.footer-list {
  display: flex;
  gap: 16px;
}
.social-media-list,
.footer-icon {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-icon-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.footer-tumb {
  display: flex;
  align-items: baseline;
}
.section-one {
  max-width: 264px;
  height: 112px;
  margin-right: 120px;
}

.subscrib {
  width: 453px;
  height: 80px;
}
.subscrib-box {
  display: block;
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white);
  padding: top 8px;
  padding-left: 16px;
}

.subscrib-form input::placeholder {
  color: var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscrib-btn {
  display: block;
  font-family: var(--primary-font);
  color: var(--white);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 0px;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  width: 165px;
  height: 40px;
  border: 1px solid transparent;
  text-align: center;
  align-items: center;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscrib-icon {
  margin-left: 16px;
  fill: var(--white);
}

.subscrib-btn:hover,
.subscrib-btn:focus {
  background-color: var(--ocean);
}

.subscrib-tumb {
  position: relative;
  margin-right: 24px;
}

.subscrib-form {
  display: flex;
}
