html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --color-link: #afb1b8;
  --background-main: #ffffff;
  --background-secondary: #f4f4fd;
  --backgraund-section: #e5e5e5;
  --backgraund-modal: rgba(46, 47, 66, 0.4);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-main);
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* Phohe styles & > */
  /* min-width: 320px; */
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Tablet styles & > */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop styles & > */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.team-icon-link,
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* hero */
/* mob */
.section-hero {
  padding: 112px 0;
  max-width: 428px;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    height: 436px;
  }
}

@media only screen and (min-width: 1157px) {
  .section-hero {
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
  }
}

/* 320< screen < 428 */
@media only screen and (max-width: 428px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-mob@2x.jpg);
    }
  }
}
/* mob*/
@media only screen and (min-width: 429px) and (max-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tab@2x.jpg);
    }
  }
}
/* tab i desk */
@media only screen and (min-width: 769px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desk@2x.jpg);
    }
  }
}

/* mob */
.hero-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 320px;
  margin: 0 auto;
  color: var(--white);
  margin-bottom: 72px;
}

/* tab */
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

/* desc */
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn {
  display: block;
  font-family: var(--primary-font);
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: 1px solid transparent;
  text-align: center;
  border: none;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* modal */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--backgraund-modal);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
  
}

@media screen and (orientation:lanscape) {
  .backdrop {
    overflow: auto;
  }
}

@media only screen and (max-width: 427px) {
  .modal {  
    position: absolute;
    width: calc(100% - 30px);
    min-height: 584px;
    background: var(--dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px; 

    
  }
}

@media only screen and (max-width: 1157px) {
  .modal{
    height: 586px; 
    max-height: 90vh;
     overflow-y: scroll;
  }
}

@media only screen and (min-width: 428px) {
  .modal {
    position: absolute;
    width: 408px;
    background: var(--dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}
}

@media only screen and (min-width: 1158px) {
  .modal {
    min-height: 584px;
  }
}


.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
  fill: var(--white);
}

.check-div {
  display: flex;
}

.modalcheck:visually-hidden {
  width: 16px;
  height: 16px;
  border: none;
  border: 1px solid var(--navy-blue);
  border-radius: 2px;
  outline: none;
}
.btn-mod {
  display: block;
  font-family: var(--primary-font);
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: 1px solid transparent;
  text-align: center;
  border: none;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-mod:hover,
.btn-mod:focus {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  fill: var(--white);
}

.modal-icon {
  color: var(--navy-blue);
}

.form-checkbox-icon {
  position: absolute;
  fill: var(--white);
  cursor: pointer;
}

.check-span {
  font-size: 12px;
  line-height: 1.17;
  color: var(--light-slate);
  letter-spacing: 0.04em;
  margin-left: 8px;
}
.checkbox-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.label-text {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.modal-comment {
  margin-bottom: 24px;
}

.name-modal:focus + .name-icon-mod,
.tel-modal:focus + .tel-icon-mod,
.email-modal:focus + .email-icon-mod {
  fill: var(--iris);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
  text-align: center;
}

.user-name,
.user-tel,
.user-email {
  position: relative;
  margin-bottom: 8px;
}

.check-policy {
  font-size: 12px;
  line-height: 1.33;
  text-decoration-line: underline;
  color: var(--iris);
}
.name-icon-mod,
.tel-icon-mod,
.email-icon-mod {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modalcheck:checked + .checkbox-icon {
  background-color: var(--ocean);
  border: 1px solid var(--ocean);
  fill: var(--cloud);
}

.name-modal,
.tel-modal,
.email-modal {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: 1px solid transparent;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 427px) {
  .name-modal,
.tel-modal,
.email-modal {

     width: 100%;
  }
}

.name-modal:focus,
.tel-modal:focus,
.email-modal:focus,
.modal-textarea:focus {
  outline: 1px solid var(--iris);
  border: 1px solid transparent;
}



.modal-textarea {
  width: 360px;
  height: 120px;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: 1px solid transparent;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 427px) {
  .modal-textarea{
   width: 100%;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}
.backdrop.is-hidden .modal {
  transform: translate(250ms cubic-bezier(0.4, 0, 0.2, 1));
}

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .nav-menu {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
}
/* mob */
.header-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}

.logo-dark {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

/* Mob styles & > */
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

/* Tablet styles & > */
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: 40px;
  }
}
/* Desktop styles & > */
@media screen and (min-width: 1158px) {
  .header-list {
    display: flex;
    gap: 40px;
  }
}

/* Mob styles & > */
@media screen and (max-width: 767px) {
  .head-address {
    display: none;
  }
}

/* Tablet styles & > */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .head-address {
    display: flex;
    flex-direction: column;
  }
}

/* Desktop styles & > */
@media screen and (min-width: 1158px) {
  .head-address {
    display: flex;
    gap: 40px;
  }
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0 24px;
  display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}
.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}

.header-link.current,
.header-link.current-port {
  color: var(--ocean);
}

.header-link.current::after,
.header-link.current-port::after {
  background-color: var(--ocean);
}

.address {
  font-style: normal;
  margin-left: auto;
}
/* mobile */
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding: 24px 0 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* tab style */
@media only screen and (min-width: 768px) {
  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--slate);
    padding: 12px 0 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* desk styles & > */
@media screen and (min-width: 1158px) {
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding: 24px 0 24px;
  }
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* section */

/* mob i tab */
.section-company {
  padding: 96px 0;
}

/* desk */
@media only screen and (min-width: 1158px) {
  .section-company {
    padding: 120px 0;
  }
}

/* mob */
.company {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

@media screen and (max-width: 1157px) {
  .company-icon {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .company-icon {
    background-color: var(--cloud);
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
}


@media screen and (min-width: 768px) {
  .company-item {
    width: calc((100% - 48px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .company-item {
    width: 264px;
    width: calc((100% - 72px) / 4);
  }
}


/* mob  and tab*/

@media only screen and (max-width: 767px) {
  .company-title {
    text-align: center;
  }
}

@media only screen and (max-width: 1157px) {
  .company-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }
}
/* desk */
@media only screen and (min-width: 1158px) {
  .company-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.team-underitle,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.company-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
  .company-text {
    font-weight: 400;
  }
}

.section-work {
  padding-bottom: 120px;
}
.work-title,
.team-title,
.customers-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
   margin-bottom: 72px;
}
.work {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.work-item {
  width: calc((100% - 48px) / 3);
}
/* Desktop styles & > */
@media screen and (max-width: 1157px) {
  .section-work {
    display: none;
  }
}

/* mob i tab */

@media only screen and (max-width: 1157px) {
  .section-team {
    background-color: var(--background-secondary);
    padding: 96px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
}

/* mob */
@media only screen and (max-width: 767px) {
  .team {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
  }
}

/* tab */
@media only screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .team-img {
    margin: 0 auto;
  }
}

.work-team {
  background-color: var(--background-main);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .work-team {

    width: 264px;
    height: 428px;
  }
}

.title-name {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-underitle {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}
.team-icon {
  fill: var(--cloud);
}
.team-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  text-align: center;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--ocean);
}
.team-icon-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-company {
  fill: currentColor;
}

.customer-icon-link {
  width: 190px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  color: var(--color-link);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .customer-icon-link {
    width: 168px;
    height: 88px;
  }
}

.customer-icon-link:hover,
.customer-icon-link:focus {
  border: 1px solid var(--ocean);
  color: var(--ocean);
  cursor: pointer;
}

@media only screen and (max-width: 1157px) {
  .customers {
    padding: 96px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .customers {
    padding: 120px 0;
  }
}

@media only screen and (max-width: 767px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 72px 16px;
    border: rgba(0, 0, 0, 0.25);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 168px;
    gap: 72px 24px;
    border: rgba(0, 0, 0, 0.25);
    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .customers-list {
    display: flex;

    gap: 24px;
    border: rgba(0, 0, 0, 0.25);
  }
}

/* portfolio */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  margin-right: 24px;
}

.portfolio-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item-cards {
  width: calc((100% - 48px) / 3);
}

.portfolio-name {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.portfolio-text-hov {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;

  width: 100%;
  height: 100%;
  padding: 30px;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-cards:hover .overlay {
  transform: translateY(0);
}
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

/* footer */

.footer {
  background-color: var(--navy-blue);
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-bottom: 16px;
  display: inline-block;
}
.logo-light {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  display: inline-block;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}
.footer-title,
.subscrib-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

@media only screen and (max-width: 767px) {
  .footer-title,
  .subscrib-title {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .social {
    max-width: 208px;
    height: 80px;
   
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .social {
    max-width: 208px;
    height: 80px;
  }
}

@media only screen and (min-width: 1158px) {
  .social {
    max-width: 208px;
    height: 80px;
    margin-right: 80px;
  }
}

.social-icon {
  fill: #f4f4fd;
}

.footer-list {
  display: flex;
  gap: 16px;
}
.social-media-list,
.footer-icon {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-icon-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

@media only screen and (max-width: 1157px) {
  .footer-tumb {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
   
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-tumb {
   max-width: 582px;
   justify-content: flex-start;
  }
}

@media only screen and (min-width: 1157px) {
  .footer-tumb {
    display: flex;
    align-items: baseline;
  }
}

@media only screen and (max-width: maxwidthpx) {
  .section-one{
    margin-bottom: 72px;
  }
}

@media only screen and (max-width: 767px) {
  .section-one {
    max-width: 268px;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .section-one {
    max-width: 264px;
    height: 112px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .section-one {
    max-width: 264px;
    height: 112px;
    margin-right: 120px;
  }
}


.subscrib {
  width: 398px;
  height: 136px;
}
@media only screen and (min-width: 768px) {
  .subscrib {
    width: 453px;
    height: 80px;
  }
}

.subscrib-box {
  display: block;
  width: 398px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white);
  padding: top 8px;
  padding-left: 16px;
}



@media only screen and (max-width: 427px) {
  .subscrib-box {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .subscrib-box {
    margin-bottom: 16px;
    width: 100%;
  }
}



@media only screen and (min-width: 768px) {
  .subscrib-box {
    width: 264px;
  }
}


.subscrib-form input::placeholder {
  color: var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscrib-btn {
  display: block;
  font-family: var(--primary-font);
  color: var(--white);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 0px;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  width: 165px;
  height: 40px;
  border: 1px solid transparent;
  text-align: center;
  align-items: center;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .subscrib-btn {
   margin-left: 24px;
 }
}

.subscrib-icon {
  margin-left: 16px;
  fill: var(--white);
}

.subscrib-btn:hover,
.subscrib-btn:focus {
  background-color: var(--ocean);
}
@media only screen and (min-width: 1158px) {
  .subscrib-tumb {
    position: relative;
    margin-right: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .subscrib-form {
    display: flex;
  }
}

/* Mob */
.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  /* background: var(--cornflower); */
}
.menu-toggle .modal-icon {
  display: block;
}
.menu-toggle.js-open-menu .icon-cross {
  display: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--white);
  z-index: 999;
  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--navy-blue);
  background: var(--cornflower);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;

  color: var(--navy-blue);
  text-decoration: none;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media only screen and (max-width: 427px) {
  .mocontact-link { text-decoration: none;
    color: var(--iris);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
  }
}
@media only screen and (min-width: 428px) {
  .mocontact-link{
    text-decoration: none;
    color: var(--iris);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
}


.mocontact-link-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--slate);

  letter-spacing: 0.02em;
}
.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

@media only screen and (max-width: 427px) {
  .mobile-list{
    display: flex;
    justify-content: center;
    gap: 28px;
  }
}
@media only screen and (min-width: 428px) {
  .mobile-list {
    display: flex;
    justify-content: center;
    gap: 56px;
  }
}

.mobile-link:hover,
.mobile-link:focus {
  color: var(--ocean);
}

.mobile-link.current,
.mobile-link.current-port {
  color: var(--ocean);
}

.mobil-icon-open {
  stroke: var(--navy-blue);
}
